@import "../../mixins/mixins.scss";

$tablet: 834px;
$big_mobile: 520px;
$regular_mobile: 376px;
$small_mobile: 320px;

.checkout-card-component {
  width: 520px;
  height: 550px;
  padding: 40px;
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);

  & &__summary {
    border-bottom: 1px solid var(--color-content-500);
  }

  & &__summary-title {
    @include title-fonts-card-component;
  }

  & &__summary-desc {
    margin-top: 12px;
    @include title-desc-fonts-card-component;
  }
  & &__product-line {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 24px 0;
  }

  & &__product-info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  & &__product-title {
    @include product-line-title-fonts;
  }
  & &__product-desc {
    margin-top: 8px;
    @include product-line-desc-fonts;
  }

  & &__product-price {
    margin-top: 20px;
    @include product-price-fonts-adnotation;
    @include adnotation-fonts;
  }

  & &__product-image-container {
    border-radius: 16px;
    position: relative;
    background-color: var(--product-logo-background-color);
    width: 80px;
    height: 80px;
    @include product-logo-sizing;
  }

  & &__checkout-product {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  & &__checkout-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & &__checkout-total-title {
    font-weight: 700;
    @include product-total-price-fonsts;
  }
  & &__checkout-total-price {
    @include product-total-price-fonsts;
  }
  & &__checkout-title {
    font-weight: 500;
    @include title-desc-fonts-card-component;
  }
  & &__checkout-price {
    @include adnotation-fonts;
  }
  & &__checkout-total-price {
    @include adnotation-fonts;
  }

  @media (max-width: $big_mobile) {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    & &__summary {
      flex-grow: 2;
    }
  }

  @media (max-width: $regular_mobile) {
    padding: 40px 24px;
  }
  @media (max-width: $small_mobile) {
    padding: 40px 10px;
  }
}
