button {
  // give your buttons proper borders
  border: none;
  border-radius: 60px;

  // give your buttons proper dimensions
  width: 100%;
  height: 54px;

  // make the content centerd
  display: flex;
  align-items: center;
  justify-content: center;

  // add transition for smooth hover animation
  transition: 0.2s;
  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
  &:hover {
    // add proper behaviour on hover
    cursor: pointer;
  }

  &.btn-primary {
    // specify primary button parameters
    background-color: var(--primary-color);
    color: var(--color-white-100);
    font-weight: 700;
    position: relative;

    &:not(:disabled):hover {
      cursor: pointer;
      background-color: var(--primary-color-dark);
    }

    &[data-loading="1"] {
      &:hover {
        cursor: not-allowed;
        background-color: var(--primary-color);
      }
      .btn-primary__text {
        display: none;
        height: 65%;
      }

      .btn-primary__loader {
        display: block;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%) translateY(-50%);

          object-fit: fill;
        }
      }
    }
    &[data-loading="0"] {
      .btn-primary__text {
        display: block;
      }

      .btn-primary__loader {
        display: none;

        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
    &:hover {
      // add primary button specific behaviour on hover
      background-color: var(--primary-color-dark);
    }
    &:active {
      background-color: var(--primary-color-pressed);
    }
  }

  &.btn-secondary {
    // specify secondary button parameters
    background-color: var(--card-background-color);
    color: var(--on-background-color-light);
    border: 1px solid var(--border-color);
    font-weight: 700;
    &:not(:disabled):hover {
      cursor: pointer;
      color: var(--background-color-dark);
      border-color: var(--background-color-dark);
    }
    /*     &:hover {
      // add secondary button specific behaviour on hover
      cursor: pointer;
      color: var(--background-color-dark);
      border-color: var(--background-color-dark);
    } */

    &:active {
      color: var(--background-color-pressed);
      border-color: var(--background-color-pressed);
    }
  }
}
